@model List<SepetDetay>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Movie.cshtml";
}

<h2>Sepet Biggileri</h2>
<
<table class="table table-striped table-primary">

    <thead>
        <tr>
            <th>Film Adı</th>
            <th>Birim Fiyat</th>
            <th>Adet</th>
            <th>Tutar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var siparis in Model)
        {
            <tr>
                <td>@siparis.MovieName</td>
                <td>@siparis.MoviePrice</td>
                <td>@siparis.MovieQuantity</td>
                <td>@(siparis.MovieQuantity * siparis.MoviePrice)</td>

                <td>
                    <a class="btn btn-primary ms-4" asp-controller="Sepet" asp-action="Sil" asp-route-id="@siparis.MovieId"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                    </svg>
                    </a>
                </td>
            </tr>
        }
        <tr class="fw-bold">
            <td>Toplam : </td>
            <td></td>
            <td>
                @if (TempData["ToplamAdet"] != null)
                {
                    @TempData["ToplamAdet"]
                }
            </td>
            <td>
                @if (TempData["ToplamTutar"] != null)
                {
                    @TempData["ToplamTutar"]
                }
            </td>
        </tr>
    </tbody>
</table>


<div class="text-center">

    <a class="btn  btn-primary" asp-controller="Movie" asp-action="Index">Alışverişe Devam</a>
    <a class="btn btn-primary" asp-controller="Customer" asp-action="Login">Sepeti Onayla</a>


</div>
